/* Remove default margin and padding */
body {
   margin: 0;
   padding: 0;
   overflow: hidden; /* Prevent scrollbars */
   background-color: #f32408; /* Optional background color for the page */
   height: 100%; /* Occupies full height */
}

/* Make the canvas cover the entire viewport */
canvas {
   display: block; /* Prevent inline space around the canvas */
   width: 100vw;   /* Make canvas width 100% of the viewport */
   height: 100vh;  /* Make canvas height 100% of the viewport */
}

 